<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="../css/template.css"></link>
<title>模板分类</title>
</head>
<body>
	<div id="container">
    	<div id="header">
        </div>
        <div id="pageContent">
          	<div id="type">
          		<h3>模板类型：</h3>
          		<ul id="type_list" class="nav nav-pills">
          		</ul>
          	</div>
          	<div id="template">
          	<label>模板：</label>
          	<!-- <div id="template_list" class="row-fluid">
          	</div>  -->
          	<ul id="template_list" class="template">
          	</ul>
          	</div>
        </div>
        <div id="footer">
        	<p> Author: shan, liang, cheng</p>
        </div>
    </div>
</body>
</html>