@CHARSET "UTF-8";
body{
	margin:0;
}

#container{
	margin:0 auto;
	width:1000px;
}

#header{
	height:70px;
	background:yellow;
	margin-bottom:5px;
}

#pageContent{
	min-height:420px;
	height:auto;
	margin-bottom:5px;
}

#footer{
	height:60px;
	background:red;
}
/* ul{
	position:relative;
	list-style:none; 
	maigin:0px;
}
li{
	position:relative;
	display:inline
} */

#type > h3{
	float:left;
	width:10%;
}
.template > a > img{
	width:100px;
	height:100px;
}

.template li{
	margin:5px;
	list-style:none; 
	float:left;
}